header { background-color: rgb(155, 35, 83);
    padding: 10px ;}


ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    
    
    }
    
    
li {
        display: inline;
        margin-right: 20px;
    }
    
    
li a {
        display: block;
     
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    
li a:hover {
        background-color: #efa3f1;
    }
    
    
ul li a.active {
        background-color: #ff7dc0;
    }
    
    
h1{color:white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}

    
.container{width: 100px;}
    
    
.logo { height: 90px;
    width: 90px;
    margin-right: 10px;
    }
               
            
        
.textbox{text-align: center;
    margin:100px auto;
    padding:100px auto;}

footer {
    background-color: rgb(155, 35, 83);
   padding: 20px 0;
               }
                        
.footer-container {  display: flex;
    flex-direction: row;
    align-items: center;
}
                          
                        
.footer-logo img {
    width: 90px;
    margin-right: auto;
}
                        
                        
.footer-links, .footer-contact {width: 100%;
    text-align: center;
    margin-top: 20px;
}
                            
                        
.footer-links a, .footer-contact p { display: block;
}
                           
                        
.footer-links p, .footer-contact p {margin: 0;
    padding: 5px 0;
}
                            
                        
                        
.footer-contact p:last-child {margin-bottom: 0;
}
                            

p{color:white;}

               
.button {background-color: rgb(250, 135, 166); 
    border:rgb(139, 0, 0);
    color: white; 
    padding: 10px 20px; 
    text-align: center;

    display: inline-block; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 5px; 
                    
                }

.button:hover {  background-color: #b30077;}

#container2 {display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
               
.innerStyle { height:fit-content;
    width: 500px;;
    margin: 20px;
    padding: 40px;
    background-color: rgb(251, 226, 236);
    box-sizing: border-box; 
    
    }

                   
.innerStyle {
    width: 100%; 
    max-width: 400px; 
    margin: 20px;
    padding: 20px;
    border: 1px solid #791d48;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(251, 226, 236);
    text-align: center;
    }


.innerStyle img { max-width: 50%; 
        height: auto; 
        display: block; 
        margin-left: auto;
        margin-right: auto;}
                       
                    
@media screen and (min-width: 768px) {
    .innerStyle {
        width: calc(50% - 40px); 
    }
}
                    
@media screen and (min-width: 992px) {.innerStyle {
    width: calc(33.33% - 40px); 
}
}     
    
    
 h3{color: white;}

.buttonone {background-color: rgb(250, 135, 166); 
border:rgb(139, 0, 0);
color: white; 
padding: 10px 20px; 
text-align: center;

display: inline-block; 
font-size: 16px;
cursor: pointer; 
border-radius: 5px; 
                }